@import "./variables.module.scss";

@font-face {
  font-family: "Buffon";
  src: url(/fonts/Buffon-Regular.otf);
}

@font-face {
  font-family: "Coconat";
  src: url(/fonts/Coconat-BoldExt.woff2);
  font-weight: bold;
}

@font-face {
  font-family: "Coconat";
  src: url(/fonts/Coconat-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: "Compagnon";
  src: url(/fonts/Compagnon-Roman.woff2);
  font-weight: normal;
}

@font-face {
  font-family: "Messapia";
  src: url(/fonts/Messapia-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: "Messapia";
  src: url(/fonts/Messapia-Regular.woff2);
  font-weight: normal;
}

@keyframes noise {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(10%);
  }
  80% {
    transform: translate(-15%);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%);
  }
}

body {
  font-family: $font-family-base;
  background-color: $body-background-color;
  font-size: $font-size-xs;
  line-height: $line-height-small;
}

header {
  width: 100%;
  padding: 2rem;
}

header h3 {
  font-size: $font-size-small;
  max-width: 450px;
  width: 100%;
}

.bg-noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url(/images/noise.png) repeat 0 0;
  background-repeat: repeat;
  animation: noise 0.2s infinite;
  opacity: 0.15;
  visibility: visible;
}
