// COLORS
$black: #111;
$white: #fff;
$gray: #ddd;
$pink: #fc39c6;
$red: #e43d26;
$yellow: #ebfd5e;
$blue: #093cf2;
$green: #53ff50;

// TYPOGRAPHY
$font-size-xs: 1rem;
$font-size-small: 1.125rem;
$font-size-small-2: 1.2rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;
$font-size-xl-2: 3.5rem;
$font-family-base: "Helvetica Neue";
$line-height-small: 1.3;

$font-color-light: $white;
$font-color-dark: $black;
$font-color-blue: $blue;
$font-color-red: $red;
$font-color-yellow: $yellow;
$font-color-green: $green;
$font-color-pink: $pink;

// BACKGROUNDS
$body-background-color: $gray;
$body-text-color: $black;

$quote-bg-pink: $pink;
$quote-bg-red: $red;
$quote-bg-blue: $blue;
$quote-bg-yellow: $yellow;
$quote-bg-green: $green;
$quote-bg-white: $white;
$quote-bg-black: $black;
